<section id="nav">
    <nav>
        <nav class="navbar navbar-expand-lg" id="bar">

            <div class="navbar-nav git ">
                <a class="nav-item nav-link " target="_blank"><i class="fa fa-github"></i> GitHub
                    <span class="sr-only">(current)</span></a>
            </div> &nbsp; &nbsp;
            <div class="hey">
                <a class="nav-item nav-link" routerLink="profile">User Profiles</a>
                <a class="nav-item nav-link" routerLink="#about">About</a>
            </div>

        </nav>
        <div class="exp">
            <p>Welcome to github user search</p>
            <p>Where you can search users by their github username</p>
        </div>
    </nav>
</section>