<section id="nav">
    <nav>
        <nav class="navbar navbar-expand-lg" id="bar">

            <div class="navbar-nav git ">
                <a class="nav-item nav-link " target="_blank"><i class="fa fa-github"></i> GitHub
                    <span class="sr-only">(current)</span></a>
            </div> &nbsp; &nbsp;
            <div class="hey">
                <a class="nav-item nav-link" routerLink="profile">Search profiles</a>
                <a class="nav-item nav-link" routerLink="">About</a>
            </div>

        </nav>

    </nav>
</section>